.img-responsive {
	width: 100%;
}


nav#main {
	background: #000;
	height: 100px;
	position: fixed;
	width: 100%;

}
/*Begin Hero Section */
#hero,
#feature,
#utility,
#extension {
	font-family: "Lato","San-Serif";
	overflow: hidden;
}
#page_home{
	background:#FFF;
}

#hero{
  background: url(../img/bg/front_hero.jpg) no-repeat center top; 
  background-attachment: relative;
  background-position: center top;
  color: #FFF;
  min-height: 600px;
  text-align: center;
  padding: 120px 0;
  overflow: hidden;
  width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
  overflow: hidden;
}

.hero-image {
	position: absolute !important;
	top: -10% !important;
	bottom: 0;
	left: -10% !important;
	right:0;
	z-index: -1;
	height: 120%;
	width: 120%;
	background: url(../img/bg/front_hero.jpg) no-repeat center top; 
  	background-attachment: relative;
  	background-position: center top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}



.hero-logo {
	margin: 0 auto;
	max-width: 300px;
}

#hero .title {
	font-size: 60px;
	font-weight: 500;
	line-height: normal;
}

#hero .tagline {
	font-size: 26px;
	font-weight: 100;
	line-height: 32px;
}

#hero .lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}

#hero .focus {
	font-size: 16px;
	font-weight: normal;
}
/*End Hero Section */

/*Begin Feature Section */
#feature{
  background: #FFF; 
  color:#3e3e3e;
  padding: 30px 0;
  width: 100%;
}

#feature .row-first {
	margin-bottom: 40px;
}

#feature .row-second{
	margin-bottom: 40px;
}

#feature .feature-image {
	margin-bottom: 20px;
}

#feature .title {
	font-size: 32px;
	font-weight: 300;
	line-height: normal;
}

#feature .tagline {
	font-size: 22px;
	font-weight: 100;
	line-height: 32px;
}

#feature .lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}

#feature .focus {
	font-size: 16px;
	font-weight: normal;
}
/*End Feature Section */


/*Begin Utility Section */
#utility{
  background: url(../img/bg/front_utility.jpg) no-repeat center top; 
  background-attachment: relative;
  background-position: center top;
  color: #FFF;
  padding: 80px 0;
  min-height: 600px;
  width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.utility-image {
	position: absolute !important;
	top: -10% !important;
	bottom: 0;
	left: -10% !important;
	right:0;
	z-index: -1;
	height: 120%;
	width:120%;
	background: url(../img/bg/front_utility.jpg) no-repeat center top; 
  	background-attachment: relative;
  	background-position: center top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}


#utility .title {
	background: #FFF;
	color: #3e3e3e;
	display: inline-block;
	font-size: 50px;
	font-weight: 300;
	line-height: normal;
	padding: 10px;
}

#utility .tagline {
	background: #FFF;
	color: #3e3e3e;
	font-size: 26px;
	font-weight: 100;
	line-height: 32px;
	padding: 10px;
}

#utility .lead {
	background: #FFF;
	color: #3e3e3e;
	font-size: 22px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

#utility .focus {
	background: #FFF;
	color: #3e3e3e;
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
}
/*End Utility Section */

/*Begin Extension Section */
#extension{
  background: #FFF; 
  color:#3e3e3e;
  padding: 30px 0;
  width: 100%;
}

#extension .row-first {
	margin-bottom: 40px;
}

#extension .row-second{
	margin-bottom: 40px;
}

#extension .feature-image {
	margin-bottom: 20px;
}

#extension .title {
	font-size: 32px;
	font-weight: 300;
	line-height: normal;
}

#extension .tagline {
	font-size: 22px;
	font-weight: 100;
	line-height: 32px;
}

#extension .lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}

#extension .focus {
	font-size: 16px;
	font-weight: normal;
}
/*End Extension Section */


/*Begin Extension Section */
#action{
  background: url(../img/bg/front_hero.jpg) no-repeat center top; 
  background-attachment: relative;
  background-position: center top;
  color: #FFF;
  min-height: 600px;
  padding: 120px 0;
  overflow: hidden;
  width: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
  overflow: hidden;
}

.action-image {
	position: absolute !important;
	top: -10% !important;
	bottom: 0;
	left: -10% !important;
	right:0;
	z-index: -1;
	height: 120%;
	width: 120%;
	background: url(../img/bg/front_action.jpg) no-repeat center top; 
  	background-attachment: relative;
  	background-position: center top;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}



#action .row-first {
	margin-bottom: 40px;
}

#action .row-second{
	margin-bottom: 40px;
}

#action .feature-image {
	margin-bottom: 20px;
}

#action .title {
	font-size: 32px;
	font-weight: 300;
	line-height: normal;
}

#action .tagline {
	font-size: 22px;
	font-weight: 100;
	line-height: 32px;
}

#action .lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
}

#action .focus {
	font-size: 16px;
	font-weight: normal;
}
/*End Extension Section */

