.home #feature{
  padding: 20px 0 50px;
}

.home #feature .introduction{
  padding: 20px 0 50px;
}

.home #feature .mission{
  padding: 20px 0 50px;
}

.home #feature .solutions {
  padding: 20px 0 50px;
}