/* 
Name: Jquery Full Content
Authors: Zeh Fernandes
Date: 2012-05-04
*/

/* TYPOGRAPHY */
/* ----------------------------------------- */

@font-face {
		font-family: 'FuturaLT-Condensed';
		src: url('../fontes/futuralt-condensed.eot');
		src: url('../fontes/futuralt-condensed.eot?#iefix') format('embedded-opentype'),
				 url('../fontes/futuralt-condensed.woff') format('woff'),
				 url('../fontes/futuralt-condensed.ttf') format('truetype'),
				 url('../fontes/futuralt-condensed.svg#futuralt-condensed') format('svg');
		font-weight: normal;
		font-style: normal;
}
		
@font-face {
		font-family: 'GillSansLight';
		src: url('../fontes/gillsanslight.eot');
		src: url('../fontes/gillsanslight.eot?#iefix') format('embedded-opentype'),
				 url('../fontes/gillsanslight.woff') format('woff'),
				 url('../fontes/gillsanslight.ttf') format('truetype'),
				 url('../fontes/gillsanslight.svg#gillsanslight') format('svg');
		font-weight: normal;
		font-style: normal;
}


/* ALL */
/* ----------------------------------------- */

body { background: url(../images/bg.jpg); overflow-x: hidden; overflow-y: hidden; color: #3e3e3e; font-family: 'Lato', HeveticaNeue-Light, sans-serif; }
.scrollv { overflow-y: auto !important; }

.wrap { width: 100%; margin: 0 auto; }

h1, h2 { font-weight: normal; text-transform: uppercase; text-align: center; }

h3 a, h2 a  { color: #775995; text-decoration: none; }
h3 a:hover, h2 a:hover { text-decoration: underline; }

.options { list-style: none; margin-top: 8%; overflow: hidden; }
.options li { float: left;  width: 33%; height: 350px; }
.options li:last-child { margin-right: 0; }

.options a { display: block; 
	width: 250px; 
	height: 165px; 
	border-radius: 50%; 
	border: 2px solid #fff;
 	text-decoration: none; f
 	ont-size: 25px; text-align: center; padding-top: 85px; font-family: 'GillSansLight';  
			margin: 0 auto; }
	.options a big { display: block; font-size: 50px; }
	.options a:hover { background: rgba(217,45,237,0.15); }

code { 
color: white;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
padding: 20px;
background: rgba(255, 255, 255, 0.3);
clear: both;
position: relative;
display: block;
margin: 10px 0;
border-radius: 10px;
}

p { font-size: 16px; padding-top: 15px; }

/* SPECIFICS */
/* ----------------------------------------- */
.big li { width: 50%; height: auto; }
.big li a { width: 300px; height: 190px; padding-top: 110px; margin: 0 5%; }
.big li:first-child a { float: right; }

.small li { width: 100%; height: auto; }
.small li a  { width: 180px; height: 115px; padding-top: 65px; font-size: 20px; }
.small a big { font-size: 35px }

.documentation h2 { padding: 40px 0 20px 0; } 
.download h2:first-child, .documentation h2:first-child, .what h2:first-child { padding-top: 8%; }

.list { font-size: 25px; list-style: disc; margin: 3% 10%}
.list li { margin: 10px 0; }

.documentation .wrap { overflow: hidden; padding-bottom: 50px; }


/* MEDIA QUERIES */
/* ----------------------------------------- */

@media screen and (max-width: 1000px) {
 
h1 { font-size: 90px }
h2 { font-size: 40px; letter-spacing: normal; }

.home, .download { overflow-y: scroll; }

.options li { 
	float: none;
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 3%;
}

.big li a { 
	float:none !important;
	margin: 0 auto; 
}




nav#main {
  background: #3d4351;
  color: #FFF;
  height: 70px;
  position: fixed;
  top: 0; left: 0; width: 100%;
  z-index: 100;
  transition: all 0.2s ease 0s;
}
nav#main .menu li a {
    color: #FFF;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 5px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}

nav#index {
  background: rgba(0,0,0, 0.7);
  color: #FFF;
  height: 55px;
  transition: all 0.2s ease 0s;
  position: fixed;
}

nav#index.shrink-nav{
  margin-top: 0;
}

nav#index.nav-up{
  margin-top: 70px;
}

nav#index.scroll-down {
  position: fixed;
  top: 0;
}

nav#index .menu li a {
    color: #FFF;
    display: inline-block;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}

/********** NAVIGATION **********/

nav{ 
  padding: 20px;
  width: 100%;
  z-index: 99;
  transition: all .2s ease; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; 
}

.overlay-nav{ 
  position: absolute; 
}



nav .menu{ display: inline-block; margin: 0px; position: relative; }
nav .menu li{ 
  float: left;
  margin: 0 5px;
  padding: 0 20px;
  transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; 
}
nav .menu li a { 
  border-bottom: 3px solid transparent;
  color: #fff;
  display: block;
  font-family: "Lato",sans-serif;
  font-size: 1.33333rem;
  font-size: 0.86667rem;
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.15;
  padding: 1em;
  text-transform: uppercase;
  transition: all .2s ease; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; 
}
nav .menu li:hover { 
  opacity: 1;
  border-bottom: 3px solid #FFF;
}
nav .menu li a:hover{ 
  color: #3e3e3e;
}

nav .menu li.active{ 
  background: none;
}

nav .menu li.start-project.active {
    background: #c0451b;
    color:#FFF;
}

nav .menu li a:hover{ position: relative; }

.shrink-nav{ padding: 15px 0; }

nav.nav-dark .menu li a, nav.nav-transparent .menu a{ color: #fff; }

nav li.start-project {
  background: #d04a1c;
  font-weight: 300;
}
nav li.start-project  a {
  font-weight: 300;
}


.shrink-nav .subnav{ top: 100%; margin-top: -2px; }

.logo{ 
  position: relative; 
  bottom: 4px; 
  transition: all .2s ease; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; 
}
.logo .logo-img {
  margin: 0 auto;
  max-width: 150px;
}

.shrink-nav .logo{ bottom: 1px; }

.mobile-toggle{ cursor: pointer; position: absolute; right: 15px; z-index: 22; color: #fff; font-size: 36px; top: 20px; display: none; }
.nav-transparent-dark .mobile-toggle, .nav-light .mobile-toggle{ color: #454545 !important; }




